/*
 * Helveti Blue Theme
 */

$color-0: #eeeeee;
$color-1: #eeeeee;
$color-2: #888888;
$color-3: #eeeeee;
$color-4: #888888;
$color-5: #eeeeee;
$color-6: #888888;
$color-7: #eeeeee;
$color-8: #444444;
$color-9: #1533ad;
$color-10: #d0d0d0;
$color-11: #444444;
$color-12: #eeeeee;
$color-13: #1533ad;
$color-14: #1533ad;
$color-15: #dddddd;
$color-16: #000;
$color-17: #888888;
$color-18: #1533ad;
$color-19: #1533ad;

$bg-1: "#fbfbfb";

@import "core";
