/*
 * Safari Theme
 */

$color-0: #033649;
$color-1: #033649;
$color-2: #99773d;
$color-3: #fffaf0;
$color-4: #736a5a;
$color-5: #decdad;
$color-6: #034b65;
$color-7: #596982;
$color-8: #f3ffff;
$color-9: #183053;
$color-10: #d3c9b9;
$color-11: #033649;
$color-12: #aaa;
$color-13: #900;
$color-14: #f00;
$color-15: #eee;
$color-16: #000;
$color-17: #736a5a;
$color-18: #034b65;
$color-19: #000;

$bg-1: "#f0e5d2";

@import "core";
