/*
 * Papaya Theme
 */

$color-0: #C4574E;
$color-1: #e5cada;
$color-2: #782e59;
$color-3: #fffaf0;
$color-4: #736a5a;
$color-5: #e7dcbe;
$color-6: #d88057;
$color-7: #E0CFA7;
$color-8: #f5e4b9;
$color-9: #8C004E;
$color-10: #E1DAC7;
$color-11: #1e1e44;
$color-12: #aaa;
$color-13: #900;
$color-14: #f00;
$color-15: #eee;
$color-16: #000;
$color-17: #736a5a;
$color-18: #782e59;
$color-19: #000;

$bg-1: "#F3EBD6";

@import "core";
