/*
 * Sea Theme
 */

$color-0: #0b486b;
$color-1: #f3ffff;
$color-2: #2c7385;
$color-3: #c9e8e8;
$color-4: #99a9a9;
$color-5: #e7ffff;
$color-6: #346179;
$color-7: #3f5059;
$color-8: #f3ffff;
$color-9: #0b486b;
$color-10: #c1d9d9;
$color-11: #0b486b;
$color-12: #aaa;
$color-13: #900;
$color-14: #f00;
$color-15: #eee;
$color-16: #000;
$color-17: #99a9a9;
$color-18: #346179;
$color-19: #000;

$bg-1: "url('/images/boating.png')";

@import "core";
