/*
 * Subway Theme
 */

$color-0: #34532e;
$color-1: #1e1e44;
$color-2: #a12f1c;
$color-3: #000;
$color-4: #182615;
$color-5: #182615;
$color-6: #57994a;
$color-7: #182615;
$color-8: #f5e4b9;
$color-9: #366729;
$color-10: #351b1b;
$color-11: #B5E0AB;
$color-12: #533;
$color-13: #f99;
$color-14: #f00;
$color-15: #34532e;
$color-16: #fff;
$color-17: #d88057;
$color-18: #B5E0AB;
$color-19: #fff;

$bg-1: "url('/images/subway.jpg'); background-size: 100% 100%";
$bg-2: "background: rgb(0, 0, 0); background: rgba(40, 10, 10, 0.8)";

@import "core";
